<table class="table table-bordered mt-5 text-center">
    <thead>
        <tr>
            <th colspan="5" scope="col">Gravedad general del riesgo = Probabilidad x Impacto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="5" scope="row">Impacto</th>
        </tr>
        <tr>
            <td>ALTO</td>
            <td>Medio</td>
            <td>Alto</td>
            <td>Critico</td>
        </tr>
        <tr>
            <td>MEDIO</td>
            <td>Bajo</td>
            <td>Medio</td>
            <td>Alto</td>
        </tr>
        <tr>
            <td>BAJO</td>
            <td>Muy Bajo</td>
            <td>Bajo</td>
            <td>Medio</td>
        </tr>
        <tr>
            <td></td>
            <td>BAJO</td>
            <td>MEDIO</td>
            <td>ALTO</td>
        </tr>
        <tr>
            <td></td>
            <th colspan="4" scope="col">Probabilidad</th>
        </tr>
    </tbody>
</table>